/* ////////////////////////////////////////// */
/* //////// styles for typing loader //////// */
/* ////////////////////////////////////////// */

.typing-loader {
  display: inline-block;
  position: relative;
  float: left;
  margin-top: 4px;
  width: 32px;
  height: 12px;
}

.typing-loader div {
  display: inline-block;
  position: absolute;
  background: #b9cfe3;
  border-radius: 50%;
}

.typing-loader div:nth-child(1) {
  left: 4px;
  top: 4px;
  width: 4px;
  height: 4px;

  animation: typing-loader1 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.24s;
}
@keyframes typing-loader1 {
  0%, 100% {
    left: 4px;
    top: 4px;
    width: 4px;
    height: 4px;
  }
  50% {
    left: 3px;
    top: 3px;
    height: 6px;
    width: 6px;
  }
}

.typing-loader div:nth-child(2) {
  left: 14px;
  top: 4px;
  width: 4px;
  height: 4px;

  animation: typing-loader2 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.12s;
}
@keyframes typing-loader2 {
  0%, 100% {
    left: 14px;
    top: 4px;
    width: 4px;
    height: 4px;
  }
  50% {
    left: 13px;
    top: 3px;
    height: 6px;
    width: 6px;
  }
}

.typing-loader div:nth-child(3) {
  left: 24px;
  top: 4px;
  width: 4px;
  height: 4px;

  animation: typing-loader3 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: 0;
}
@keyframes typing-loader3 {
  0%, 100% {
    left: 24px;
    top: 4px;
    width: 4px;
    height: 4px;
  }
  50% {
    left: 23px;
    top: 3px;
    height: 6px;
    width: 6px;
  }
}